.code{
    font-size: 30px;
    height: 70px;
    width: 60px;
    text-align: center;
    margin: 1%;
    font-weight: 100;
    border-radius: 5px;
    
}
.code-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;

}
.code::-webkit-outer-spin-button,.code::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.code:valid{
    border-color: darkgrey;
    box-shadow: lightslategrey;
}